## IDE/Text Editor ##
.idea
.vscode
.vscode/*
__debug_bin


### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (make it a comment below to exclude it)
vendor/

### Go Patch ###
/Godeps/
/main.go
